


/* responsive */
/* 
@media (max-width:767px)
{

    .ty-font.heading{
display: none;
    }
    .card.card-body.col-md-4.offset-4.mt-5 {
        width: 358px;
        right: 119px;position: relative;
    }
    .user-input-wrp .inputText {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid #777;
        box-shadow: none !important;
    }
   

} */